DATABASE_URL=""

# AUTHENTACATION
BETTER_AUTH_SECRET=""

BETTER_AUTH_URL="http://localhost:3000"

GITHUB_CLIENT_ID=""

GITHUB_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""

GOOGLE_CLIENT_SECRET=""

# AI API KEYS
GROQ_API_KEY=""
GROQ_MODEL="" 